{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'default_style.css' %}">
    <link rel="stylesheet" href="{% static 'color_style01.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'threads' %}">Forum</a>
            <div>
                {% if request.user.is_authenticated %}
                    Hi,<a href="{% url 'user-profile' username=user.username %}">{{ request.user.username }}</a>
                    <a href="{% url 'logout' %}">Log out</a>
                {% else %}
                    <a href="{% url 'register' %}">Sign up</a>
                    <a href="{% url 'login' %}">Log in</a>
                {% endif %}
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}
    
</body>
</html>