* {
    box-sizing: border-box;
}

body {
    background-color: rgb(204, 204, 204);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
}

header nav {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 5px;
    border-radius: 10px;
}

header nav a {
    margin-left: 10px;
    margin-right: 10px;
}

header nav p {
    margin-left: 10px;
    margin-right: 10px;
}

main {
    background-color: rgb(138, 138, 138);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    margin-top: 30px;
}

main h2 {
    display: flex;
    justify-content: center;
    color: black;
}

main section {
    display: flex;
    background-color: rgb(172, 172, 172);
    background: linear-gradient(45deg, rgb(114, 114, 114), rgb(177, 177, 177));
    margin: 10px;
    padding: 0px;
    border: black solid 2px;
    border-radius: 10px;
}

main article {
    display: flex;
    flex-direction: column;
    margin: 0px;
    border-right: black solid 2px;
}

main article header {
    border-bottom: black solid 2px;
    padding: 2px;
    padding-left: 10px;;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(to left, rgb(36, 36, 36),
                                    rgb(36, 36, 36),
                                    rgba(0, 0, 0, 0),
                                    rgba(0, 0, 0, 0));
    background-clip: content-box
}

main article p {
    padding: 0px;
    padding-left: 10px;
}

main article footer {
    border-top: black solid 2px;
    padding: 2px;
    padding-left: 10px;
    font-size: 12px;
    margin-bottom: 0px;
}

main article header span {
    font-size: 12px;
    font-weight: normal;
}

main article div {
    padding-left: 10px;
    padding-top: 23px;
    padding-bottom: 5px;
    margin-top: 0px;
}

.article-content {
    width: 85%;
}

.author-div {
    padding-left: 10px;
}

.edit {
    border: black solid 1px;
    border-radius: 5px;
    background-color: rgb(7, 153, 7);
    font-size: 14px;
    text-decoration-line: none;
    color: black;
    font-weight: bold;
    padding: 1px;
}

.delete {
    background-color: rgb(224, 8, 8);
    margin-left: 5px;
}

.new-comment-div {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.new-comment {
    border: black solid 1px;
    border-radius: 5px;
    text-decoration-line: none;
    background-color: rgb(7, 153, 7);
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 2px;
}

.threads-title {
    display: flex;
    justify-content: flex-start;
    text-decoration-line: none;
}

.threads-div {
    background-color: grey;
    border: black solid 2px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.p-post-info01 {
    margin: 0px;
}

.span-post-info01 {
    font-size: 12px;
    font-weight: normal;
}

.thread-title {
    margin: 0px;
}

.div-thread-desc-stats {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.div-thread-stats {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 30%;
}
